[core]
#    gitproxy=https://127.0.0.1:8087
	autocrlf = true
[http]
	sslVerify = false

[user]
	email = huleiak47@gmail.com
	name = Hu Lei
[push]
	default = simple
[alias]
    ci = commit
    co = checkout
    cl = clone
    h = help
    st = status
    br = branch
    rst = reset
    unstage = reset HEAD --
    last = log -3 HEAD
    pretty = log --pretty=format:'%h %s' --graph
    df = diff
    dt = difftool -y
    mg = merge
    tg = tag
    rb = rebase
    h = help
    svnup = svn rebase
    svnci = svn dcommit
[diff]
	tool = gvimdiff
