/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

.markdown-preview.markdown-preview {
  // modify your style here
  // eg: background-color: blue;
  /*background-color: #fef5d8;*/
  font-family: "Times New Roman", "Noto Serif CJK SC", NSimSun, serif;
  line-height: 1.5em;

  svg {
    max-width: 100%;
  }
  pre,
  code {
    font-family: "Sarasa Term SC", Consolas, monospace;
    white-space: pre-wrap;
    /*font-family: "Courier New", Consolas, monospace;*/
  }

  pre[data-role="codeBlock"] {
    /*border: 1px solid #ccccff;*/
    background-color: #eeeeee;
  }

  img,
  svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*border: 1px solid #cccccc;*/
  }

  table {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: table;
    /*border: 1px solid black;*/
  }

  p {
    text-indent: 2em;
  }

  h1 {
    counter-reset: counter_h2;
    font-family: "Noto Sans CJK SC", YaHei, sans-serif;
    text-align: center;
  }
  h2 {
    counter-increment: counter_h2;
    counter-reset: counter_h3;
    font-family: "Noto Sans CJK SC", YaHei, sans-serif;
  }
  h3 {
    counter-increment: counter_h3;
    counter-reset: counter_h4;
    font-family: "Noto Sans CJK SC", YaHei, sans-serif;
  }
  h4 {
    counter-increment: counter_h4;
    counter-reset: counter_h5;
    font-family: "Noto Sans CJK SC", YaHei, sans-serif;
  }
  h5 {
    counter-increment: counter_h5;
    counter-reset: counter_h6;
    font-family: "Noto Sans CJK SC", YaHei, sans-serif;
  }
  h6 {
    counter-increment: counter_h6;
    font-family: "Noto Sans CJK SC", YaHei, sans-serif;
  }

  h2::before {
    content: counter(counter_h2) " ";
  }
  h3::before {
    content: counter(counter_h2) "." counter(counter_h3) " ";
  }
  h4::before {
    content: counter(counter_h2) "." counter(counter_h3) "." counter(counter_h4)
      " ";
  }
  h5::before {
    content: counter(counter_h2) "." counter(counter_h3) "." counter(counter_h4)
      "." counter(counter_h5) " ";
  }
  h6::before {
    content: counter(counter_h2) "." counter(counter_h3) "." counter(counter_h4)
      "." counter(counter_h5) "." counter(counter_h6) " ";
  }
}
