/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

@base-font: "思源黑体 CN", Arial, YaHei, sans-serif;
@title-font: @base-font;
// @content-font: "思源宋体", NSimSun, serif;
@content-font: @base-font;
@code-font: "霞鹜文楷等宽", "Sarasa Fixed SC", Consolas, NSimSun, monospace;

.markdown-preview.markdown-preview {
  // modify your style here
  // eg: background-color: blue;
  /*background-color: #fef5d8;*/
  font-family: @content-font;
  line-height: 1.5em;

  div.caption {
    text-align: center;
    font-weight: bold;
    padding-bottom: 1em;
  }

  svg {
    max-width: 100%;
    width: unset !important;
    height: unset !important;
  }

  pre,
  code {
    font-family: @code-font;
    white-space: pre-wrap;
  }

  pre[data-role="codeBlock"] {
    /*border: 1px solid #ccccff;*/
    background-color: #eeeeee;
  }

  img,
  svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*border: 1px solid #cccccc;*/
  }

  svg text {
    font-family: @content-font;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: table;
    /*border: 1px solid black;*/
  }

  h1 {
    font-size: 180%;
  }

  h2 {
    font-size: 165%;
  }

  h3 {
    font-size: 150%;
  }

  h4 {
    font-size: 135%;
  }

  h5 {
    font-size: 120%;
  }

  h6 {
    font-size: 110%;
  }

  p {
    font-size: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: @title-font;
  }

  h1 {
    counter-reset: counter_h2;
  }
  h2 {
    counter-increment: counter_h2;
    counter-reset: counter_h3;
  }
  h3 {
    counter-increment: counter_h3;
    counter-reset: counter_h4;
  }
  h4 {
    counter-increment: counter_h4;
    counter-reset: counter_h5;
  }
  h5 {
    counter-increment: counter_h5;
    counter-reset: counter_h6;
  }
  h6 {
    counter-increment: counter_h6;
  }

  h2::before {
    content: counter(counter_h2) " ";
  }
  h3::before {
    content: counter(counter_h2) "." counter(counter_h3) " ";
  }
  h4::before {
    content: counter(counter_h2) "." counter(counter_h3) "." counter(counter_h4)
      " ";
  }
  h5::before {
    content: counter(counter_h2) "." counter(counter_h3) "." counter(counter_h4)
      "." counter(counter_h5) " ";
  }
  h6::before {
    content: counter(counter_h2) "." counter(counter_h3) "." counter(counter_h4)
      "." counter(counter_h5) "." counter(counter_h6) " ";
  }
}
